<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="params_file" />
    <arg name="output" default="log" />

    <node name="move_base"
          pkg="move_base"
          type="move_base"
          respawn="true"
          output="$(arg output)" >
        <rosparam file="$(arg params_file)" />
    </node>

</launch>
